{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        Технические навыки автора проекта в сфере разработки
    </div>
</div>
<div class="card-group">
    <div class="card border-primary mb-3" style="max-width: 22rem;">
        <div class="card-body text-primary">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Знаю основную теорию, которая оказалась 1% 
            от необходимого объема для программирования на питоне
        </p>
        </div>
        <div class="card-footer bg-transparent border-primary">В процессе изучения</div>
      </div>
    <div class="card border-warning mb-3" style="max-width: 22rem;">
        <div class="card-body text-warning">
          <h5 class="card-title">Django</h5>
          <p class="card-text">Очень много информациии. Очень много не 
            понятного. Когда разбираешься в очередном вопросе, 
            получаешь истинное удоволствие.
        </p>
        </div>
        <div class="card-footer bg-transparent border-warning">Страшно интересно))</div>
      </div>
    <div class="card border-success mb-3" style="max-width: 22rem;">
        <div class="card-body text-success">
          <h5 class="card-title">SQL</h5>
          <p class="card-text">Решено более сотни различных практических 
            задач, очень хотелось попробовать применить полученные 
            знания на реальных данных.
        </p>
        </div>
        <div class="card-footer bg-transparent border-success">Готов применять</div>
      </div>
  </div>
{% endblock %} 
